<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">Resume</a></li>
        		<li><a href="/blog">Blog</a></li>
			<li><a href="/blog">Projects</a></li>
			<li><a href="/blog">Contact</a></li>
    		</ul>
		</nav>
		<div class="container">
      
      
      {{content}}
      
      
		<footer>
    		<ul>
        		<li><a href="mailto:shantanil.bagchi@mail.mcgill.ca">email</a></li>
        		<li><a href="https://github.com/shantanilbagchi">github shantanil</a></li>
			</ul>
		</footer>
	</body>
</html>
